@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
  background-color: #f1f2f4;
}

a {
  text-decoration: none;
}


/* BUTTONS */
.primary-btn {
  background: #2462ea;
  color: #f1f2f4;
  padding: 10px;
  min-width: 150px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  border: transparent;
  transition: all .5s ease-in-out;
}

.primary-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.primary-btn:disabled {
  cursor: default;
  opacity: .5;
}

.secondary-btn {
  background: transparent;
  color: #2462ea;
  padding: 10px;
  min-width: 150px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  border: solid 1px #2462ea;
  transition: all .5s ease-in-out;
}

.secondary-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.secondary-btn:disabled {
  cursor: default;
  opacity: .5;
}

.icon-btn {
  background: transparent;
  color: #2462ea;
  min-width: fit-content;
  cursor: pointer;
  font-size: 20px;
  transition: all .5s ease-in-out;
  border: transparent;
  border-radius: 10px;
}

.icon-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.icon-btn:disabled {
  cursor: default;
  opacity: .5;
}

/* INPUT */
input {
  color: #64748b;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
  padding: 0px 10px;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
}

input:focus {
  border-color: #2462ea;
  box-shadow: 0 0 0 3px rgba(36, 98, 234, 0.5);
}

/* ICONS */
.lucide {
  color: #2462ea;
}

/* SECTION */
.section-center {
  max-width: 1550px;
  margin: 0 20px;
}

@media screen and (min-width:1500px) {
  .section-center {
    margin: 0 auto;
  }

}

/* MAIN */
.app-container {
  min-height: 90dvh;
}

/* NAVIGATION */
nav {
  padding: 20px;
  border-bottom: 2px solid #2462ea;
  color: #2462ea;
  font-size: 20px;
  position: sticky;
  top: 0;
  z-index: 20;
  backdrop-filter: blur(10px);
}

.nav-center {
  max-width: 1550px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  font-weight: 600;
  color: #2462ea;
}

.nav-item:hover {
  color: #2462ea;
  opacity: 0.8;
}

.nav-links-con {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* HOME */
.home-explore-section {
  padding: 30px 0px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.landing-text-con {
  max-width: 900px;
}

.landing-text {
  font-size: 30px;
  line-height: 100px;
  margin: 50px 0px;
  color: #64748b;
}

.landing-text span {
  font-size: 50px;
  color: #2462ea;
  font-weight: 600;
}

.home-btn-con {
  display: flex;
  gap: 10px;
  height: 100%;
}

.btn-text {
  color: #2462ea;
  font-size: 20px;
  margin: 20px 0;
}

.instruction-con {
  background: #2462ea;
  padding: 80px 0;
  min-height: 30dvh;
}

.instruction-heading-text {
  color: #f1f2f4;
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 15px;
}

.instruction-card {
  background-color: #f1f2f4;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.instruction-heading {
  text-align: center;
  display: block;
  color: #2462ea;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: .5px;
  border-left: solid 2px #2462ea;
  width: fit-content;
  margin: 0 auto;
  padding: 0 0 0 10px;
}

.heading-text-content {
  text-align: center;
  display: block;
  color: #64748b;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -.5px;
  line-height: 30px;

}

/* REGISTER PAGE */

.auth-form-container {
  min-height: 90dvh;
  display: flex;
  justify-content: center;
}

.auth-form-container form {
  border: solid 2px #2462ea;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: fit-content;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 15px;
}

.form-heading {
  color: #2462ea;
}

.field-con {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.field-con label {
  color: #2462ea;
}


.field-error-msg {
  color: red;
  font-size: 16px;
}


.auth-form-container button {
  width: 100%;
}

.form-text {
  text-align: right;
  color: #64748b;
}

.form-text a {
  color: #2462ea;
}

/* SEARCH PAGE */

.search-form {
  border-bottom: solid 2px #2462ea;
  padding-bottom: 20px;

}

.search-heading {
  color: #2462ea;
  text-transform: uppercase;
  font-size: 30px;
  margin: 50px 0;
}

.search-field-con {
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 700px;
  margin: 0 auto;
}

.search-field-con input {
  height: 40px;
}

/* SEARCH RESULT */
.city-details-con {
  padding: 20px;
  background-color: #beccea66;
  border-radius: 20px;
  margin-bottom: 60px;
}

.city-details-heading
.weather-details-heading {
  font-size: 35px;
  text-transform: capitalize;
  color: #2462ea;
  margin: 30px 0;
}

.location-detail {
  text-transform: capitalize;
  font-size: 20px;
  margin: 15px 0;
}

.city-details-con>div:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.weather-details-card-con {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
  padding-bottom: 100px;
}

.weather-details-card {
  background-color: #beccea66;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  flex: 1 1 0%;
}

.weather-details-card>div:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100%;
  width: 100%;
  gap: 10px;
}

.weather-details-card .weather-detail {
  width: 100%;
  font-style: italic;
  font-size: 16px;
  font-weight: 600;
  color: #64748b;
}

.detail-value {
  font-size: 20px;
  font-weight: 700;
}

.location-error {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.location-error h1 {
  text-align: center;
  color: #64748b;
  font-size: 30px;
}

.location-error span {
  color: #2462ea;
  font-style: italic;
  font-weight: 600;
}

/* FAVORITE */
.favorite-empty-con {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  flex-direction: column;
  gap: 20px;
}

.favorite-empty-con h1 {
  color: #2462ea;
  font-size: 50px;
  text-align: center;
}

.favorite-empty-con p {
  color: #64748b;
  font-size: 20px;
  text-align: center;
}

.favorite-con {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: #beccea66;
  padding: 25px;
  border-radius: 15px;
  margin-bottom: 100px;
}

.favorite-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favorite-card div {
  display: flex;
  align-items: center;
  gap: 10px;
}